.game-map {
  &__container {
    grid-row: game-start/game-end;
    grid-column: game-start/game-end;

    width: 67.2rem;
    height: 54.4rem;

    box-shadow: rgba(0, 0, 0, 1) 1rem 1rem 1px 0px;
    background-image: url("../../assets/maps/map1.png");

    display: grid;
    grid-template-columns: repeat(21, 32px);
    grid-template-rows: repeat(17, 32px);

    position: relative;
  }
}
